<footer id="footer">
  <div class="container">
    <div class="row gtr-200">
      <div class="col-12">

        <!-- About -->
        <section>
          <h2 class="major"><span>TransMail's center</span></h2>
        </section>

      </div>
      <div class="col-12">

        <!-- Contact -->
        <section>
          <h2 class="major"><span>Get in touch</span></h2>
          <ul class="contact">
            <li><a class="icon fa-envelope" href="#"><span class="label">Gmail</span></a></li>
            <li><a class="icon brands fa-facebook-f" href="#"><span class="label">Facebook</span></a></li>
            <li><a class="icon brands fa-twitter" href="#"><span class="label">Twitter</span></a></li>
            <li><a class="icon brands fa-instagram" href="#"><span class="label">Instagram</span></a></li>
          </ul>
        </section>

      </div>
    </div>

    <!-- Copyright -->
    <div id="copyright">
      <ul class="menu">
        <li>&copy; TransMail. All rights reserved</li>
        <li>Template credit: <a href="http://html5up.net">HTML5 UP</a>, designed by <a href="http://twitter.com/ajlkn">AJ</a></li>
      </ul>
    </div>

  </div>
</footer>
